.content_dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.dialogs_items .active {
    color:rgb(24, 188, 238);
}

.dialogs_items {
    background-color: rgba(29, 29, 29, 0.308);
    backdrop-filter: blur( 9.0px );
    -webkit-backdrop-filter: blur( 9.0px );
    border-radius: 10px;
    border: 1px solid rgba(139, 159, 163, 0.548);
    padding: 5px 20px;
    box-shadow: inset 0 -2px 15px rgba(121, 120, 120, 0.33);

    color: #fff;
    font-size: 20px;
    line-height: 35px;
    text-decoration: none;
    padding: 3px 5px;
    box-shadow: inset 0 -1px #8b9fa38c;
}

.messages {

}